*{
  padding: 0;
  margin: 0;
  
}

/* .board {
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  width: 60vw;
  height: 60vh;
}

.box {

  border: solid;
  cursor: pointer;
  width: 150px;
  height: 150px;
  
} */

.board {
	width: 100vw;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto)
}


.box {
	width: 25vw;
	height: 25vh;
	border: 1px solid aqua;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.x {
  background-color: teal;
}

.x::after {
  
}

 

.o {
  background-color: blue;
  border-radius: 50%;
  -webkit-mask: radial-gradient(transparent 89px, #000, 90px);
      mask: radial-gradient(transparent 89px, #000, 90px);
}